.card {
  background-color: rgba(70, 85, 151, 0.267);
  border-radius: 20px;
  width: 20%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.cardImg {
  border-radius: 10px;
  width: 100%;
}

.Personalinfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.name {
  margin-bottom: -2rem;
  color: aquamarine;
}

.status--specie {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
